<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
</head>
<body>
    <header>
        <h1>Movies</h1>
    <%- include('./includes/nav.ejs') %>
    </header>
    <img src="<%= movie.poster %> " alt="<%= movie.title %>">
    <p><%= movie.title %> </p>
    <p><%= movie.director %> </p>
    <p><%= movie.year %> </p>
    <p><%= movie.genre %> </p>
    

</body>
</html>